.title {
  letter-spacing: 2px;
  margin: 50px 0;
}
.empty {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.amount {
  font-weight: 500;
  @media (max-width: 570px) {
    font-size: 16px;
  }
}
.pizzaCart-enter {
  opacity: 0;
}
.pizzaCart-enter-active {
  opacity: 1;
  transition: 500ms ease-in;
}
.pizzaCart-exit {
  opacity: 1;
}
.pizzaCart-exit-active {
  opacity: 0;
  transition: 500ms ease-in;
}
