.header {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width:570px) {
    font-size: 12px;
  }
}
.start {
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  margin-right: 20px;
}